
.card{
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-primary{
    border-color: white;
}

.login-home{
    background: linear-gradient(45deg,#F94892,#FF7F3F,#FBDF07,#89CFFD);
    background-size: 300% 300%;
    animation: color 10s ease-in-out infinite;
}

@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}